html {
  margin: 0;
  padding: 0;
}

body {
  margin: 4px;
  padding: 0;
  background-color: #222222;
}

.terminal {
  font-family: 'DOS', monospace;
  font-size: 20px;
  line-height: 20px;
  background-color: #222222 !important;
  border: #222222 solid 5px !important;
}

@font-face {
  font-family: 'DOS';
  src: url('/fonts/WebPlus_IBM_VGA_8x16.woff');
}
