html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.terminal {
  font-family: 'DOS', monospace;
  font-size: 20px;
  line-height: 20px;
}

@font-face {
  font-family: 'DOS';
  src: url('/fonts/WebPlus_IBM_VGA_8x16.woff');
}
